.custom-button {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 3px solid var(--color-1);
  color: var(--color-1);
  border-radius: 100vw;
  transition: 0.5s;
  padding: 0.1rem 0.5rem;
}

.custom-button:hover,
.custom-button:focus {
  box-shadow: inset 0 -2rem 0 0 var(--color-1);
  color: var(--color-2);
}

.custom-button > .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.custom-button a {
  width: 100%;
  text-align: center;
}

.custom-button .link {
  color: var(--color-1);
  font-style: normal;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.custom-button .link:hover {
  color: white;
}
