nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  box-sizing: border-box;
  width: 100%;
  padding: 1rem 10vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(180deg, #030026 0%,  #070055 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

nav header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

nav img {
  height: 7rem;
}

nav input[type="checkbox"] {
  display: none;
}

nav input[type="checkbox"]:checked ~ ul {
  display: flex;
}

nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: clamp(1rem, 2vw ,3rem);

  font-size: large;
  list-style: none;
}

nav ul li a {
  position: relative;
  
  padding: 0.2rem;

  text-decoration: none;
  display: block;
  color: white;
}

nav li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleY(0);
  transition: 0.2s;
}

nav li a:hover::after,
nav li a:active::after {
  transform: scaleY(1);
}

nav label{
  display: none;
}

@media (max-width: 800px) {
  nav {
    padding: 0 10vw;
    flex-flow: row wrap;
    gap: 1rem;
  }

  nav header {
    flex: 4;
  }

  nav img {
    width: 100%;
    max-width: 18rem;
    height: unset;
  }

  nav label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 10vw, 3rem);
    width:  clamp(1rem, 10vw, 3rem);
    color: white;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav input[type="checkbox"]:checked ~ ul {
    box-sizing: border-box;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}
