nav {
  width: 100vw;
  font-size: 15px;
  position: fixed;
  padding: 0.5rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;

  background-color: transparent;
}


nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;


  list-style-type: none;
  border-radius: 1.5rem;
  background-color: white;
}

nav li {
  position: relative;
  top: 0rem;
  height: 2rem;
  min-width: 2rem;
  margin: 0.4rem;
}