nav {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  padding: 1rem 10vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
  /* background: transparent; */
  /* background: linear-gradient(180deg, #030026 0%,  #070055 100%); */
}

nav > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, #030026 0%,  #070055 100%);
}