.progress-page {
  color: var(--color-1);
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-padding-bottom: 100px;
}

.progress-page .hero,
.progress-page .events {
  scroll-snap-align: start;
  min-height: 100vh;
}

.progress-page > .hero {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  position: relative;
}

.progress-page > .hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress-page h1 {
  position: absolute;
  font-size: 6rem;
  font-weight: 700;
  margin-top: 15rem;
  padding: 0;
  color: var(--background-color);
}

.progress-page > .divider {
  width: 100%;
  height: 3rem;
  background-color: var(--color-1);
}

.progress-page .events {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 4rem;
}

.progress-page .timeline {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7.75rem 4rem 1fr;
  justify-items: center;
}

.progress-page .timeline .circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 5px solid var(--color-1);
}

.progress-page .timeline .line {
  width: 5px;
  background-color: var(--color-1);
}

.progress-page .hero + .events .timeline .line:first-child {
  visibility: hidden;
}

.progress-page .content {
  width: 100%;
  height: fit-content;
  padding: 3rem 2% 0 2%;
}

.progress-page h2 {
  width: 100%;
  font-size: 10rem;
  font-weight: 700;
  text-align: right;
}

.progress-page .content .event {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--color-5);
  margin-bottom: 2rem;
}

.progress-page .content .event:nth-child(2n) {
  text-align: left;
  flex-direction: row;
}

.progress-page .content .event:nth-child(2n - 1) {
  text-align: right;
  flex-direction: row-reverse;
}

.progress-page .event .text-container {
  margin: 0 2rem
}

.progress-page h3 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.progress-page .event p {
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
}

.progress-page .event .img-container {
  max-width: 40%;
  max-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.progress-page .event img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 1rem;
}