.about-page > .card-category {
  
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1548705085-101177834f47?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: 20% 70%;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}


.card-product {
  overflow: hidden;
  height: 600px;
  background-color: #ECEBFF ;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
}

.card-product p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 60px;
}

.card-product .card-product-infos {
  line-height: 20px;
}

.team-imgs {
  height: 450px;
  width: 3000px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-bottom: 50px;

}

.team-imgs img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.team-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  margin: 20px;
  
}

.team-card h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.team-card p {
  font-size: 16px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  opacity: .7;
}