.our-story {
  background-color: #ECEBFF ;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  padding: 5em 10vw;
  margin-bottom: 5em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.our-story h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
}

.our-story p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  text-align: center;
  color: #4b4b4b;
  margin: 8px 30px 0 30px;
}