.about-page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-padding-bottom: 100px;
}

.about-page .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3rem 0;
}

.about-page h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-1);

}

.about-page .hero,
.about-page section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.about-page section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.about-page .divider {
  width: 100%;
  height: 3rem;
  background-color: var(--color-1);
}

.about-page section > h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-1);
  overflow: hidden;
}

.about-page section > p {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
  color: var(--color-1);
  overflow: hidden;
}

.about-page section > .members{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 20%;
}

.about-page section > .members > .member {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: fit-content;
  height: calc(100% - 4rem);

  border-radius: 3rem;
  background: rgb(196,139,107);
  background: linear-gradient(315deg, 
    rgba(196,139,107,1) 0%, 
    rgba(206,165,141,1) 100%
  );
  margin: 2rem;
  padding: 2rem;
}

.about-page section > .members img {
  max-width: 100%;
  border-radius: 10000rem;
  aspect-ratio: 1/1;
  object-fit: cover;

} 

.about-page section > .members h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--background-color);
  overflow: hidden;
}

.about-page section > .members h4 {
  font-size: 1rem;
  font-weight: 650;
  color: var(--background-color);
  overflow: hidden;
}

.about-page section > .members p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--background-color);
  overflow: hidden;
}