.team-profiles-container {

}

.team-profiles-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
}

.team-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;

    gap: 1em;
}