.contact-page {
  background-color: #ECEBFF;
  padding-bottom: 2rem;
}

.contact-page > .hero {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511632765486-a01980e01a18?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-weight: bolder;
}

.contact-page .form-container {
  width: 80vw;
  margin: 0 10vw;
  margin-bottom: 5rem;
}

.contact-page .form-container h2{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #030026;
}

.contact-page form {
  display: grid;
  gap: 2rem;
}

.contact-page label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-page input,
.contact-page textarea {
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: #030026;
}

.contact-page button {
  display: inline-block;

  padding: 1vw 2vw;
  margin-top: 10px;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  text-align: center;

  color: #fff;
  background-color: #355DF2 ;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-page button:hover {
  background-color: #5976e0 ;
}
