.team-profile {
  box-sizing: border-box;
  width: 15em;
  overflow: hidden;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.team-profile-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 0.7em;;
}

.team-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4em;
}

.team-profile-details {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team-profile-details * {
  margin: 0;
  padding: 0;
  text-align: center;
}

.team-profile-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.team-profile-details p:nth-child(1) {
  font-size: 1.5em;
  font-weight: bold;
}

.team-profile-details p:nth-child(2) {
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.5em;
}

.team-profile-details p:nth-child(3) {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  color: #333;
  margin-bottom: 0.5em;
}

.team-profile-details > a {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  color: #777;
}

.team-profile-details > a:hover {
  color: #000;
}