.modal-foreground {
  width: 80%;
  max-width: 60rem;
  height: 80%;
  z-index: 1;
  
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 2rem;
  gap: 0 1rem;

  overflow: hidden;

  color: var(--Lavander);
  background-color: var(--OxfordBlue);

  padding: 1rem;
  border-radius: 2rem;

}

.modal-foreground h4 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0.4rem;

}

.modal-foreground h5 {
  margin: 0.6rem 0 0.2rem 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.modal-foreground > aside {
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.modal-foreground > aside > figure {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 1rem;

  margin: 0;
  padding: 0 0 1em 0;
}

.modal-foreground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-foreground span {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--Lavander) var(--OxfordBlue);
}

.modal-foreground > aside p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.modal-foreground .time-span {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-foreground .roles {
  width: 100%;
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-foreground .role {
  margin: 0.2rem 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-foreground .role p:last-of-type {
  font-style: italic;
}

.modal-foreground .social-links {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.modal-foreground .social-links:hover {
  transform: scale(1.2);
}

.modal-foreground span > .social-links {
  display: none;
}

.modal-foreground aside > .social-links{
  display: flex;
}

.modal-foreground > main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-foreground > main header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-foreground > main main {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--Lavander) var(--OxfordBlue);
  padding-right: 0.5em;
}

.modal-foreground > footer {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-foreground .close-button {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Lavander);
  cursor: pointer;
  transition: transform 0.3s;
}

.modal-foreground .close-button:hover {
  transform: scale(1.2);
}


@media screen and (max-width: 768px) {
  .modal-foreground span {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .modal-foreground {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2rem;
  }

  .modal-foreground > aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .modal-foreground > aside > figure {
    flex: 1;
    padding: 0;
  }

  .modal-foreground span {
    flex: 1;
    height: 100%;

    padding: 1rem 0;
    flex: 1;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
  
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--Lavander) var(--OxfordBlue);
  }

  .modal-foreground span > .social-links {
    display: flex;
  }
  
  .modal-foreground aside > .social-links{
    display: none;
  }

  .modal-foreground main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .modal-foreground > main main {
    box-sizing: border-box;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
  }

  .modal-foreground > footer {
    grid-column-start: unset;
    grid-column-end: unset;
  }
}