footer {
  background: #ECEBFF;
  color: rgba(0,0,0,0.5);

  display: grid;
  grid-template: 1fr / 2fr repeat(3, 1fr);
  padding: 3rem 10vw;

}

footer > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

footer > div:nth-child(3) {
  gap: 0;
}

footer > div:nth-child(3) > h4 {
  margin-bottom: 1rem;
}

footer > div:nth-child(3) > a {
  font-size: 1.5rem;
}

footer a,
footer p {
  color: var(--OxfordBlue);
  text-decoration: none;
  transform-origin: left center;
  transform: scale(1);
  transition: 0.3s;
}

footer a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  footer {
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 2rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  footer {
    grid-template: repeat(4, auto) / 1fr;
    gap: 2rem 1rem;
  }

  footer > div {
    align-items: center;
  }
}
