.App {
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.App > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
}

/* .App > main,
.App > footer {
  position: relative;
  top: -4rem;
} */