.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  margin: 1em;
}

.App-header {
  background-color: var(--bg-color-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

header p {
  margin: 1em 10%;
  font-size: 20px;
}

.App-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 50%;
}

.App-link {
  color: var(--color-3);
  margin: 1em;
  padding: 0.2em 1em;;
  border-radius: 0.5em;

  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: var(--color-3) solid 2px;

  transition: all 0.2s ease-in-out;
}

.App-link p {
  margin: 0;
}

.link-icon {
  height: 2em;
  width: 2rem;
  margin-right: 0.5em;

}

.App-link:hover {
  color: var(--bg-color-light);
  background-color: var(--color-3);
}

@media (max-width: 600px) {
  .App-links {
    flex-direction: column;
    width: 100%;
  }

  .App-link {
    width: 6em;
  }
}
