* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --color-1: #234340;
  --color-2: #878980;
  --color-3: #be9537;
  --color-4: #98552f;
  --color-5: #cea58d;

  --background-color: #ebe4e0;
  --text-color: #000000;

  --font-size: 16px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overscroll-behavior: none;

  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
