:root {
  font-size: 16px;
}

* {
  --RISDBlue: #355DF2;
  --Aquamarine: #52e1b1;
  --Teal: #0e7c7b;
  --Lavander: #ecebff;
  --OxfordBlue: #030026;
  --DogwoodRose: #d62264;

  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Open Sans', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
